/* Body */
body {
  background: rgb(18, 18, 18);
  max-width: 1440px;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("../public/gallery.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
p {
  font-size: 16px;
  font-family: "MyCustomFont";
}

/* Gallery layout */
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.thumb {
  flex: 0 0 60px;
  height: 60px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: none;
  transition: flex 0.3s ease, height 0.3s ease;
  padding: 5px;
}

.thumb:hover {
  flex: 0 0 120px;
  height: 120px;
}

/* Image inside thumbnail */
.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
  border-radius: 0.5rem;
}

/* Cursor */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ff2a2a;
  color: white;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
  z-index: 999;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Content inside overlay */
.hover-content {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.initial-label {
  font-size: 22vw;
  color: white;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  text-align: center;
  line-height: 1.2;
}
.letter {
  display: inline-block;
}

.default-label {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
}

.default-content {
  color: white;
  font-size: 20vw;
  text-align: center;
  line-height: 1;
}

.lineheight {
  line-height: 1.3;
}
