/* Body */
body {
  background: rgb(18, 18, 18);
  max-width: 1440px;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
  font-family: sans-serif;
}

/* Gallery layout */
.gallery {
  display: flex;
  gap: 10px; /* spacing between images */
  justify-content: center;
  align-items: center;
  height: 120px;
}

.thumb {
  flex: 0 0 50px;
  height: 50px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: none;
  transition: flex 0.4s ease, height 0.4s ease;
}

.thumb:hover {
  flex: 0 0 120px;
  height: 120px;
}

/* Image inside thumbnail */
.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

/* Cursor */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ff2a2a;
  color: white;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
  z-index: 999;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Content inside overlay */
.hover-content {
  color: white;
  font-size: 3rem;
  text-align: center;
}
